.btn{
    display: block;
    background: #c70101;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 500;
    cursor: pointer;

    &_header{
        width: 153px;
        height: 32px;
        font-size: 14px;
    }

    &_promo{
        font-size: 16px;
        width: 300px;
        height: 50px;
        align-self: end;
    }

    &_submit{
        font-size: 16px;
        height: 58px;
    }
}